<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ejar.fastbedroom">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".application.APP"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".home.HomeActivity"></activity>
        <activity android:name=".register.aty.RegisterAty"></activity>
        <activity android:name=".register.aty.RegisterInfoAty"></activity>
        <activity android:name=".buycar.BuyCarAty"></activity>
        <activity android:name=".personal.aty.PersonInfoAty"></activity>
        <activity android:name=".personal.aty.ChangeMessageAty"></activity>
        <activity android:name=".fastmail.FastMailAty"></activity>
        <activity android:name=".mystore.StoreActivity"></activity>
        <activity android:name=".mybook.view.BookActivity"></activity>
        <activity android:name=".mystore.StoreSecondAty"></activity>
        <activity android:name=".register.aty.ChooseSchoolAty"></activity>
        <activity android:name=".useraddr.UserAddrAty"></activity>
        <activity android:name=".useraddr.UserAddAddressAty"></activity>
        <activity android:name=".fastmail.MailDeliverWayAty"></activity>
        <activity android:name=".pay.PayAty"></activity>
        <activity android:name=".wxapi.WXPayEntryActivity"></activity>
        <activity android:name=".pay.PayYueAty"></activity>
        <activity android:name=".mystore.GoodsDetailAty"></activity>
        <activity android:name=".jion.ToBeAgentAty"></activity>
        <activity android:name=".jion.AgentAty"></activity>
        <activity android:name=".certification.CertificationAty"></activity>
        <activity android:name=".personal.aty.PhotoAty"
            android:theme="@style/MyAtyDialogStyle"></activity>
        <activity android:name=".mystore.ConfirmBuyGoodsAty"></activity>
        <activity android:name=".advice.AdviceAty"></activity>
        <activity android:name=".advice.AboutUsAppAty"></activity>
        <activity android:name=".advice.AboutUsAty"></activity>
        <activity android:name=".personal.aty.CashAty"></activity>
        <activity android:name=".forgotpwd.aty.ForgotPwdAty"></activity>
        <activity android:name=".forgotpwd.aty.ChangeUserPwdAty"></activity>
        <activity android:name=".message.MessageWebAty"></activity>
        <activity android:name=".personal.aty.MoneyDetailAty"></activity>
        <!--支付宝beginning-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <!--支付宝end-->
    </application>

</manifest>